*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-color{
    background-color:  #48B7F5;;
}
.catalogue-container{
    margin-bottom:1em ;
}
.main-row-head{
    font-size: 20px;
    font-weight: 600;
    position: relative;
   
}

.main-card-body{
  
    width:160px;
   height: 230px;
   margin:0.5em 0.4em;
    background: white;
    border-radius: 0.5rem;
   filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));
    .img-container{
        width:160px;
        height: 160px;
        
         .card-image{
                width: inherit;
                height: inherit;
                object-fit: cover;
                border-radius: 0.25rem  0.25rem 0 0;
        }
    }
    .sub-head{
    height: 70px;
    width: 160px;
     
        .weight-size{
             font-weight: 500;
            line-height: 16px;
            padding: 0em 0.5em;
            display: flex;
            align-items: center;
        }
        .heading{
            font-size: 14px;
            height: 40px; 
            padding-top: 0.5em; 
        }
        .price{
            height: 30px;
            font-size: 13px;
          
            span{
                font-weight: 400;
                color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}