*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-color{
    background-color:  #48B7F5;;
}
.catalogue-container{
    margin-bottom:2em ;
}
.main-row-head{
    font-size: 20px;
    font-weight: 600;
}
.main-card-body{
    margin:0.3em;
    width:160px;
   height: 230px;
    background: white;
    border-radius: 0.5rem;
   filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
    .img-container{
        width:152px;
        height: 152px;
        margin: 0.25rem auto;
         .card-image{
                width: inherit;
                height: inherit;
                object-fit: cover;border-radius: 0.25rem;
        }
    }
    .sub-head{
     padding:0.5em; 
     
        .weight-size{
             font-weight: 500;
            line-height: 16px;
        }
        .heading{
            font-size: 14px;  
        }
        .price{
            font-size: 13px;
            padding: 0.5em 0em;
        }
    }
}